body{
    background-color:whitesmoke;
}

/* Le texte */
h1 {
    text-align: left;
    color: black;
    font-size: 50px;

}

h3 {
    text-align:center;
    font-size:50px;
}


#ligne {
    border-bottom:1px solid black;
}

#presentation {
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
}
#profiles_ex {
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
}

#question {
    text-align:center;
    font-size:30px;  
}

#compteur {
    padding:10px;
    background-color: silver;
}

/* Les images*/
img {
    margin-left: 40px;
    margin-right: auto;
    float:left;
}
#gryf {
    width: 500px;
    height: 450px;
    margin-left: 500px;
}

#rav {
    width: 500px;
    height: 450px;
    margin-left: 500px;
}

#sly {
    width: 500px;
    height: 450px;
    margin-left: 500px;
}

#huf {
    width: 500px;
    height: 450px;
    margin-left: 500px;
}

/* Les boutons */

#bouton_start{
    width:200px;
    height:80px;
    font-size: 20px;
    margin-left: 400px;
    margin-right: auto;
    border: none;
    background-color: #e5e5e5;
}

#rep1 {
    text-align:center;
    font-size:30px;
    width:550px;
    height:100px;
    background-color:silver;
    border: none;
}

#rep2 {
    text-align:center;
    font-size:30px;
    width:550px;
    height:100px;
    background-color:silver;
    border: none;
}

#rep3 {
    text-align:center;
    font-size:30px;
    width:550px;
    height:100px;
    background-color:silver;
    border: none;
}

#rep1:hover {
    background-color:#e5e5e5;
    
}

#rep2:hover {
    background-color:#e5e5e5;
}

#rep3:hover {
    background-color:#e5e5e5;
}

#resultat {
    text-align:center;
    font-size:30px;
    width:550px;
    height:100px;
    background-color:silver;
    border: none; 
}

#resultat:hover {
    background-color:#e5e5e5;
}

#Ex0 {
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 80px;
    height: 60px;
    margin-right: 20px;
    margin-left: 255px;
    border: none;
}

#Ex1 {
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 80px;
    height: 60px;
    border: none;
    margin-right: 20px;
}

#Ex2 {
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 80px;
    height: 60px;
    border: none;
    margin-right: 20px;
}

#Ex3 {
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 80px;
    height: 60px;
    border: none;
    margin-right: 20px;
}

#Ex4 {
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 80px;
    height: 60px;
    border: none;
    margin-right: 20px;
}

#Ex0:hover {
    background-color: #c2c2c2;;
}

#Ex1:hover {
    background-color: #c2c2c2;;
}

#Ex2:hover {
    background-color: #c2c2c2;;
}

#Ex3:hover {
    background-color: #c2c2c2;;
}

#Ex4:hover {
    background-color: #c2c2c2;;
}


/* Le dropdown */
#choixk {
    background-color:#e5e5e5;
    padding:20px;
    width:400px;
    text-align:center;
    margin-left:40px;
    margin-top:50px;
    font-size: 20px;
}

