h1 {
    text-align: left;
    color: black;
    font-size: 50px;
}

#ligne {
    border-bottom:1px solid black;
}

img {
    margin-left: 40px;
    margin-right: auto;
    float:left;
}

#presentation{
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
}

#profiles_ex{
    background-color:#e5e5e5;
    padding:20px;
    text-align:center;
    width: 600px;
    float:right;
    margin-right: 80px;
    font-size: 20px;
}

body{
    background-color:whitesmoke;
}

#bouton_start{
    width:200px;
    height:80px;
    font-size: 20px;
    margin-left: 350px;
    margin-right: 250px;
    margin-top: 50px;
}

#question {
    background-color: whitesmoke;
    font-size: 20px;
}

p {
    text-align: center;
}

#rep1 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
    margin-top: 100px;
}

#rep2 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
}

#rep3 {
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
}

/* Quand la souris est sur le bouton il devient noir */
#rep1:hover {
    background-color: black;
    color: white;
}

#rep2:hover {
    background-color: black;
    color: white;
}

#rep3:hover {
    background-color: black;
    color: white;
}

#resultat {
    background-color: whitesmoke;
    border: none;
    font-size: 50px;
    margin-top: 250px;
}

#resultat:hover {
    background-color: black;
    color: white;
}